## Kaggle Expedia Contest Trial For BOUN SWE 546 Class

The [Expedia Hotel Recommendations](https://www.kaggle.com/c/expedia-hotel-recommendations/data) is a Kaggle Competition that started at 15 April 2016. Expedia wants Kaggle users to contextualize customer data and predict the likelihood a user will stay at 100 different hotel groups.

### Starting With Loading Required Libraries

In [13]:
%matplotlib inline

import csv
import time
from collections import Counter

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

import seaborn

### How many lines present in the file

In [35]:
num_lines = sum(1 for line in open('train.csv'))
print("Number of Lines: ", num_lines)

Number of Lines:  37670294

### Loading Training File

Preparing Training data file ("*train.csv*") to read by chunks of 2 million records.

In [36]:
train = pd.read_csv('train.csv',
                    dtype={'is_booking':bool,'srch_destination_id':np.int32, 'hotel_cluster':np.int32},
                    usecols=['srch_destination_id','is_booking','hotel_cluster','user_id','is_mobile'
                             ,'user_location_country','user_location_region','user_location_city'
                             ,'srch_destination_type_id','hotel_continent','hotel_country','hotel_market'],
                    chunksize=2000000)

-

Aggregating Search Destinations, Hotel Clusters and Users and booking combinations.

In [37]:
aggs = []

for chunk in train:
    agg = chunk.groupby(['srch_destination_id','hotel_cluster','user_id'])['is_booking'].agg(['sum','count'])
    agg.reset_index(inplace=True)
    aggs.append(agg)
    print('.',end='')
print('')
aggs = pd.concat(aggs, axis=0)
aggs.head()

....

   srch_destination_id  hotel_cluster  user_id  sum  count
0                    1             20   474090    0      2
1                    1             20   732251    1      2
2                    1             30   474090    0      1
3                    1             60   474090    0      2
4                    3             53   304986    0      2

In [38]:
aggs.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
srch_destination_id,21195421,14888.042327,11393.951687,0,8267,11353,20025,65107
hotel_cluster,21195421,49.317924,29.035789,0,25,48,73,99
user_id,21195421,604150.562238,349723.729600,0,300018,603857,908892,1198785
sum,21195421,0.141573,0.431100,0,0,0,0,69
count,21195421,1.777284,1.952528,1,1,1,2,233